body{
    --play_background:linear-gradient(90deg, #efce59, #c4ff64);
    --accent_gradient_fainted:linear-gradient(90deg, #e7c2b0, #f0c2c2);
    --accent_gradient_vibrant:linear-gradient(90deg, #f8b746, #f6550b);
    --play_drop_color:#ffc42e;
}