body{
    --subtitle_color:#7e7e7e;
    /* --play_background:linear-gradient(90deg, #59ef90, #64b7ff); */
}
.game_parent, .game_parent *{
    margin: initial;
}
.game_parent{
    display: flex;
    gap: var(--margin_sides);
    margin: var(--margin_sides);
    font-size: clamp(0.82em,4.373vw,1em);
}


.game_div{
    border-radius: var(--big_border_radius);
    width: 75%;
    
    aspect-ratio: 16 / 9;
    /* height: clamp(380px, 126.667vw, 600px); */
    

    background-image: var(--play_background);
    overflow: hidden;
    background-size: 200%;
    animation: back_anim 10s infinite linear;


    --size_image:10em;
    --accent_col:var(--button_hover_color);
    --hover_col:var(--button_accent_color)
}

@keyframes back_anim {
    0%{
        background-position: 0%;
    }
    25%{
        background-position: 100%;
    }
    50%{
        background-position: 0%;
    }
    75%{
        background-position: 100%;
    }
    100%{
        background-position: 0%;
    }

}
.Play_now_div{
    /* backdrop-filter: blur(15px); */
    width: 100%;
    height: 100%;
    background-image: radial-gradient(transparent, #00000065);
   
}

.Play_now_div img{
    width: var(--size_image);
    height: var(--size_image);
    object-fit: cover;
    overflow: hidden;
    display: block;
    border-radius: var(--big_border_radius);
    filter: drop-shadow(0 0 10px #595959);
}
.Play_now_div .normal_button{
    width: calc(var(--size_image) + 2em);
    text-align: center;
    overflow: visible;
    
    --button_hover_color: var(--hover_col);
    --button_accent_color: var(--accent_col);
    --shadow_col: white;

    animation: drop_shadow_keyframe 2s infinite;
    
    
    /* background-size: 150%; */
}
@keyframes drop_shadow_keyframe {
    0%{
        filter:drop-shadow(0 0 var(--base_blur_amount) var(--shadow_col));
    }
    50%{
        filter:drop-shadow(0 0 2px var(--shadow_col));
    }
    100%{
        filter:drop-shadow(0 0 var(--base_blur_amount) var(--shadow_col));
    }
}
.Play_now_div .normal_button:hover{
    --shadow_col:#ffe23d;
}
.Play_now_div .normal_button:hover::before{
    border-radius: inherit;
}
.Play_now_div .normal_button span{
    position: absolute;
    top: -8%;
    bottom: -8%;
    right: -2.2%;
    left: -2.2%;
    border-radius: inherit;
    z-index: -2;
    background-image: linear-gradient(90deg,#f3a63a, #d28116);
    /* background-image: linear-gradient(90deg,#4c4cf2, #fa5353); */
    background-size: 150%;
    background-origin: border-box;
    animation: back_anim 5s infinite cubic-bezier(.14,.18,.33,.91);
}
.play_stuffs{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.play_stuffs .subtitle{
    color:#f8f8f8df;

}


.game_div.hidden{
    background-image: none;
}
.game_div.hidden .Play_now_div{
    display: none;
}
.game_div.hidden #game_frame{
    z-index: initial;
}


.side_div{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--margin_sides) * 0.55);

}
.side_ele_div{
    /* flex: 50%; */
    background-color: #efefef;
    border-radius: var(--big_border_radius);
    filter: drop-shadow(0 0 5px #b0b0b0);
    padding: 0.5em;
    
}
.side_ele_div.normal_button{
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
}
.side_ele_div.normal_button p{
    width: 100%;
    font-size: 1.1em;
}
.side_ele_div.normal_button p::after{
    content: "";
    background-image: url(/Images/Symbols/external.png);
    background-size: 100%;
    object-fit: contain;
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0;
    background-repeat: no-repeat;
    transition: width var(--base_anim_speed), margin var(--base_anim_speed),
                height var(--base_anim_speed);
}
.side_ele_div.normal_button.full_screen p::after{
    background-image: url(/Images/Symbols/Full_screen.png);
}
.side_ele_div.normal_button:hover p::after{
    width: 1.1em;
    height: 1.1em;
    margin: 0 0 -0.25em 0.3em;

}
.side_ele_div.big{
    flex: 90%;
}
.side_ele_div.small{
    flex: 10%
}

.side_ele_div .title{
    font-size: 1.3em;
    color: #484848;
    margin-bottom: 0.3em;
}
.side_ele_div.cnt{
    display: flex;
    flex-direction: column;
}
.controls{
    
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 10em;
    height: 100%;
    padding: 0 calc(var(--margin_sides) * 0.5) var(--margin_sides) calc(var(--margin_sides) * 0.5);
    gap: calc(var(--margin_sides) * 0.5);

    /* justify-content: stretch; */
}
.control_element{
    color: #6e6e6e;
    border: dashed 1px #b6b6b6;
    border-radius: 1.2em;
    background-color: #f5f5f5;
    width: 100%;
    flex:1;
    padding: 0.3em;
    padding-top: 1em;
    padding-bottom: 1em;
    display: grid;
    gap: 0.3em;
    grid-template-columns: 30% 1fr;
    align-items: center;
}
.control_element.centered{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.8em;
}
.control_name{
    font-size: 1.1em;
    /* word-breaK:break-all; */

}
.control_keys{
    color: var(--subtitle_color);
    display: flex;
    /* justify-content: center; */
    gap: 0.2em;
    flex-wrap: wrap;
}
.control_keys .control_key{
    background-color: white;
    --control_size:3.5em;
    font-size: 0.8em;
    line-height: 3.4;
    padding: initial;
    /* flex: 1; */
    height: var(--control_size);
    
    width: var(--control_size);
    text-align: center;
    /* padding: 1.2em; */
    border-radius: 0.8em;
    border: 1px solid var(--button_accent_color);
}
.control_keys .control_key.big{
    width: 75%;
}


/* title desc start */
.title_desc_div *, .title_desc_div{
    padding: initial;
    margin: initial;
}

.title_desc_div{
    margin: var(--margin_sides);
    color: var(--button_accent_color);

    margin-top: calc(2 * var(--margin_sides));
    margin-bottom: calc(var(--margin_sides) * 2);

    font-size: clamp(0.8em, 4.267vw, 1em);
}
.title_desc_div .title{
    font-size: 1.85em;
    padding: 0;
    margin: 0;
}
.title_desc_div .desc{
    margin-top: 0.7em;
    font-size: 0.97em;
    line-height: 1.3em;
    padding: 1.1em;
    background-color: #d5d5d5;
    border-radius: var(--big_border_radius);

    border: solid 1px transparent;
    transition: border var(--base_anim_speed);

}
.title_desc_div ul{
    list-style-type: "⭕";
    padding-left: 0.3em;
    margin-left: 1em;
}
.title_desc_div ul li{
    padding-left: 0.7em;
}

.title_desc_div .desc:hover{
    border: solid 1px #676767;
}


/* title desc end */

/* iframe */
.game_div{
    position: relative;
}
.game_div iframe{
    border: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: -1;
}

/* iframe end */


/* full screen mode */
body.fullscreen .game_parent .game_div{
    height: 100vh;
    /* margin-left: calc(var(--margin_sides) * -1 ); */
    border-radius: 0;
    width: 100%;
}
body.fullscreen .game_parent{
    flex-direction: column;
    margin:0;
}
body.fullscreen .game_parent > *  {
    width: 100%;
}
body.fullscreen .game_parent .side_div{
    padding-left: var(--margin_sides);
    padding-right: var(--margin_sides);
    
}
body.fullscreen .logo_div{
    /* display: none; */
    transition: transform var(--base_anim_speed), background-color var(--base_anim_speed),
                filter var(--base_anim_speed);
    position: fixed;
    z-index: 99;
    background-color: inherit;
    top: 0;
    left: 0;
    right: 0;
    /* height: 6em; */
    transform: translateY(-100%);
    -webkit-backdrop-filter: blur(var(--base_blur_amount));
    backdrop-filter: blur(var(--base_blur_amount));

}
html:not([data-scroll='0'])  body.fullscreen .logo_div{
        transform: translateY(0);
        background-color: #d5d5d598;
        filter: drop-shadow(0 0 10px #494949);
        /* background-color: red; */
}
html[data-scroll='0'] body.fullscreen::-webkit-scrollbar{
    display: none;
    width: 0px;
}

/* .fullscreen.game_parent */


/* scroll down thing */
.scroll_down_div{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3.5em;
    line-height: 4;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-image: linear-gradient(transparent, #ffffffc3);
    color: var(--button_accent_color);
    transform: translateX(100%);
    font-size: clamp(0.75em,4vw,1.1em);
    display: none;
    animation: scroll_down 8s;
}
html:not([data-scroll='0'])  body.fullscreen .scroll_down_div{
    display: none;
}

html[data-scroll='0']  body.fullscreen .scroll_down_div{
    display: block;
}


.scroll_button{
    height: 2.2em;
    width: 2.2em;
    background-color: white;
    border-radius: 100%;
    padding: 0.3em;
    overflow: hidden;
    filter: drop-shadow(0 0 var(--base_blur_amount) #939393);
    position: fixed;
    bottom: 0.9em;
    right: 1.1em;
    transition: filter var(--base_anim_speed);
    cursor: pointer;
    display: none;
    animation: scale_in var(--base_anim_speed);
    font-size: clamp(0.8em, 4.267vw,1em);
}
@keyframes scale_in {
    0%{
        transform: scale(0);
    }
    60%{
        transform: scale(1.15);
    }
    100%{
        transform: scale(1);
    }
}
html[data-scroll='0']  body.fullscreen .scroll_button{
    display: block;
}

.scroll_button:hover{
    filter: drop-shadow(0 0 var(--big_blur_amount) #515151);
}
.scroll_button img{
    
    margin-top: 0.1em;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@keyframes scroll_down {
    0%{
        transform: translateY(100%);
    }
    10%{
        transform: translateY(0);
    }
    90%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(100%);
    }
}

/* scroll down thing end  */

/* features thing */
.features_div *, .features_div{
    margin: initial;
    padding: initial;
}
.features_div{
    font-size: clamp(0.75em, 2vw ,1em);
    /* font-size: 0.75em; */


    background-color: white;
    filter: drop-shadow(0 0 var(--base_blur_amount) transparent);
    height: 22em;
    border-radius: var(--big_border_radius);
    border: solid #a8a8a8 1px;
    margin: var(--margin_sides);
    overflow: hidden;
    transition: filter var(--base_anim_speed);
}
.features_div:hover{
    filter: drop-shadow(0 0 var(--base_blur_amount) #a6a6a6);
}
.features_div img{
    height: 100%;
    width: 50%;
    object-fit: cover;
    float: left;
    margin: 0;
}
.features_div .title_div{
    /* background-color: red; */
    height: 100%;
    display: flex;
    padding: 1.5em;
    color: var(--button_accent_color);
    justify-content: center;
    flex-direction: column;
    gap: 0.4em;
}
.features_div .title{
    font-size: 2.5em;
}
.features_div .subtitle{
    color:var(--subtitle_color);
    font-size: 1.08em;
}
.features_div.right img{
    float: right;
}
.features_div.right{
    text-align: right;
}

@media screen and (max-width:600px) {
    .features_div{
        height: clamp(24.5rem, 130.667vw,35rem);
        /* height: 24.5rem; */
        /* height: 18rem; */
        font-size: clamp(0.47em, 2.507vw ,0.7em);
        /* font-size: 0.47em; */
        /* font-size: 0.45em; */

    }
    .features_div .subtitle{
        font-size: 1.65em;
    }
    .features_div img{
        float: none;
        height: 70%;
        width: 100%;
    }
    .features_div .title_div{
        flex-direction: column;
        justify-content: center;
        /* padding: 1; */
        /* background-color: red; */
        text-align: center;
        margin-top: -0.5em;
        
        width: 100%;
        height: 30%;
    }
}

/* features thing end */


/* full screen mode end */
@media screen and (min-width:1250px) {

    body.fullscreen .game_parent .side_div{
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    body.fullscreen .side_ele_div.big{
        flex: 100%;
        height: auto;
        order: 3;
    }
}

@media screen and (max-width:1250px) {
    .game_parent{
        flex-direction: column;
    }
    .game_parent > *{
        width: 100%;
    }
    .game_div{
        aspect-ratio: unset;
        height: clamp(380px, 126.667vw, 600px);
    }
   
}
@media screen and (max-width:1250px) and (min-width:750px) {
    .side_div{
        /* height: 200px; */
        flex-direction: row;
        flex-wrap: wrap;
    }
    .side_ele_div.big{
        flex: 100%;
        height: auto;
        grid-row: 1/3;
        order: 3;
    }
    #game_p{
        /* flex-direction: column; */
        margin: 10px;
    }
}
@media screen and (max-width:750px) {
    .side_div{
        flex-direction: column;
    }
    .side_ele_div.big{
        order: 0;
    }
    .side_div > *{
        width: 100%;
    }
    .side_ele_div.full_screen{
        order: 0;
    }

    .game_parent{
        flex-direction: column;
        margin: 10px;
    }
}
