.game_parent, .game_parent *{
    margin: initial;
}
.game_parent{
    display: flex;
    gap: var(--margin_sides);
    margin: var(--margin_sides);
    font-size: clamp(0.7em,3.733vw,1em);
}


.game_div{
    border-radius: var(--big_border_radius);
    width: 75%;
    

    height: clamp(300px, 100vw, 600px);
    /* width: calc(100% - var(--margin_sides) * 2 ); */
    

    background-image: linear-gradient(90deg, #59ef90, #64b7ff);
    overflow: hidden;
    background-size: 200%;
    animation: back_anim 10s infinite linear;


    --size_image:10em;
    --accent_col:var(--button_hover_color);
    --hover_col:var(--button_accent_color)
}

@keyframes back_anim {
    0%{
        background-position: 0%;
    }
    25%{
        background-position: 100%;
    }
    50%{
        background-position: 0%;
    }
    75%{
        background-position: 100%;
    }
    100%{
        background-position: 0%;
    }

}
.Play_now_div{
    /* backdrop-filter: blur(15px); */
    width: 100%;
    height: 100%;
    background-image: radial-gradient(transparent, #00000065);
   
}

.Play_now_div img{
    width: var(--size_image);
    height: var(--size_image);
    object-fit: cover;
    overflow: hidden;
    display: block;
    border-radius: var(--big_border_radius);
    filter: drop-shadow(0 0 10px #595959);
}
.Play_now_div .normal_button{
    width: calc(var(--size_image) + 2em);
    text-align: center;
    overflow: visible;
    
    --button_hover_color: var(--hover_col);
    --button_accent_color: var(--accent_col);
    --shadow_col: white;

    animation: drop_shadow_keyframe 2s infinite;
    
    
    /* background-size: 150%; */
}
@keyframes drop_shadow_keyframe {
    0%{
        filter:drop-shadow(0 0 var(--base_blur_amount) var(--shadow_col));
    }
    50%{
        filter:drop-shadow(0 0 2px var(--shadow_col));
    }
    100%{
        filter:drop-shadow(0 0 var(--base_blur_amount) var(--shadow_col));
    }
}
.Play_now_div .normal_button:hover{
    --shadow_col:#ffe23d;
}
.Play_now_div .normal_button:hover::before{
    border-radius: inherit;
}
.Play_now_div .normal_button span{
    position: absolute;
    top: -8%;
    bottom: -8%;
    right: -2.2%;
    left: -2.2%;
    border-radius: inherit;
    z-index: -2;
    background-image: linear-gradient(90deg,#f3a63a, #d28116);
    /* background-image: linear-gradient(90deg,#4c4cf2, #fa5353); */
    background-size: 150%;
    background-origin: border-box;
    animation: back_anim 5s infinite cubic-bezier(.14,.18,.33,.91);
}
.play_stuffs{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.play_stuffs .subtitle{
    color:#f8f8f8df;

}


.game_div.hidden{
    background-image: none;
}
.game_div.hidden .Play_now_div{
    display: none;
}
.game_div.hidden #game_frame{
    z-index: initial;
}


.side_div{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--margin_sides) * 0.55);

}
.side_ele_div{
    /* flex: 50%; */
    background-color: white;
    border-radius: var(--big_border_radius);
    filter: drop-shadow(0 0 5px #b0b0b0);
    padding: 0.5em;
    
}
.side_ele_div.normal_button{
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    text-align: center;
}
.side_ele_div.normal_button p{
    width: 100%;
    font-size: 1.1em;
}
.side_ele_div.normal_button p::after{
    content: "";
    background-image: url(/Images/external.png);
    background-size: 100%;
    object-fit: contain;
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0;
    background-repeat: no-repeat;
    transition: var(--base_anim_speed);
}
.side_ele_div.normal_button.full_screen p::after{
    background-image: url(/Images/Full_screen.png);
}
.side_ele_div.normal_button:hover p:after{
    width: 1.1em;
    height: 1.1em;
    margin: 0 0 -0.25em 0.3em;

}
.side_ele_div.big{
    flex: 90%;
}
.side_ele_div.small{
    flex: 10%
}

.side_ele_div .title{
    font-size: 1.3em;
    color: var(--button_accent_color);
}
.side_ele_div.cnt{
    display: flex;
    flex-direction: column;
}
.controls{
    
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 10em;
    height: 100%;
    padding: 0 calc(var(--margin_sides) * 0.5) var(--margin_sides) calc(var(--margin_sides) * 0.5);
    gap: calc(var(--margin_sides) * 0.5);
    
    /* justify-content: stretch; */
}
.control_element{
    color: var(--button_accent_color);
    border: solid 1.1px rgb(181, 181, 181);
    border-radius: var(--base_border_radius);
    width: 100%;
    flex:1;
    padding: 0.3em;
    display: grid;
    gap: 0.3em;
    grid-template-columns: 30% 1fr;
    align-items: center;
}
.control_name{
    font-size: 1.1em;
    /* word-breaK:break-all; */

}
.control_keys{
    display: flex;
    /* justify-content: center; */
    gap: 0.2em;
    flex-wrap: wrap;
}
.control_keys .control_key{
    --control_size:3.5em;
    font-size: 0.8em;
    line-height: 2.65;
    /* flex: 1; */
    height: var(--control_size);
    
    width: var(--control_size);
    text-align: center;
    /* padding: 1.2em; */
    border-radius: var(--base_border_radius);
    border: 1px solid var(--button_accent_color);
}
.control_keys .control_key.big{
    width: 75%;
}


/* title desc start */
.title_desc_div *, .title_desc_div{
    padding: initial;
    margin: initial;
}

.title_desc_div{
    margin: var(--margin_sides);
    color: var(--button_accent_color);

    margin-top: calc(1.6 * var(--margin_sides));

    font-size: clamp(0.7em,3.733vw, 1em);
}
.title_desc_div .title{
    font-size: 1.8em;
    padding: 0;
    margin: 0;
}
.title_desc_div .desc{
    margin-top: 0.7em;
    font-size: 0.95em;
    line-height: 1.3em;
    padding: 1.1em;
    background-color: #d5d5d5;
    border-radius: var(--big_border_radius);

    border: solid 1px transparent;
    transition: var(--base_anim_speed);

}
.title_desc_div ul{
    list-style-type: "⭕";
    padding-left: 0.3em;
    margin-left: 1em;
}
.title_desc_div ul li{
    padding-left: 0.7em;
}

.title_desc_div .desc:hover{
    border: solid 1px #676767;
}


/* title desc end */

/* iframe */
.game_div{
    position: relative;
}
.game_div iframe{
    border: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: -1;
}

/* iframe end */


/* full screen mode */
body.fullscreen .game_parent .game_div{
    height: 100vh;
    /* margin-left: calc(var(--margin_sides) * -1 ); */
    border-radius: 0;
    width: 100%;
}
body.fullscreen .game_parent{
    flex-direction: column;
    margin:0;
}
body.fullscreen .game_parent > *  {
    width: 100%;
}
body.fullscreen .game_parent .side_div{
    padding-left: var(--margin_sides);
    padding-right: var(--margin_sides);
}
body.fullscreen .logo_div{
    /* display: none; */
    transition: var(--base_anim_speed);
    position: fixed;
    z-index: 99;
    background-color: inherit;
    top: 0;
    left: 0;
    right: 0;
    /* height: 6em; */
    transform: translateY(-100%);
    backdrop-filter: blur(var(--base_blur_amount));

}
html:not([data-scroll='0'])  body.fullscreen .logo_div{
        transform: translateY(0);
        background-color: #d5d5d598;
        filter: drop-shadow(0 0 10px #494949);
        /* background-color: red; */
}
body.fullscreen::-webkit-scrollbar{
    display: none;
    width: 0px;
}
::backdrop {
    background-color: rgba(255,255,255,0);
}

/* .fullscreen.game_parent */


/* scroll down thing */
.scroll_down_div{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3.5em;
    line-height: 4;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-image: linear-gradient(transparent, #ffffffc3);
    color: var(--button_accent_color);
    transform: translateX(100%);
    font-size: clamp(0.75em,4vw,1.1em);
    display: none;
    animation: scroll_down 8s;
}
html:not([data-scroll='0'])  body.fullscreen .scroll_down_div{
    display: none;
}

html[data-scroll='0']  body.fullscreen .scroll_down_div{
    display: block;
}


.scroll_button{
    height: 2.2em;
    width: 2.2em;
    background-color: white;
    border-radius: 100%;
    padding: 0.3em;
    overflow: hidden;
    filter: drop-shadow(0 0 var(--base_blur_amount) #939393);
    position: fixed;
    bottom: 0.9em;
    right: 1.1em;
    transition: var(--base_anim_speed);
    cursor: pointer;
    display: none;
    animation: scale_in var(--base_anim_speed);
    font-size: clamp(0.8em, 4.267vw,1em);
}
@keyframes scale_in {
    0%{
        transform: scale(0);
    }
    60%{
        transform: scale(1.15);
    }
    100%{
        transform: scale(1);
    }
}
html[data-scroll='0']  body.fullscreen .scroll_button{
    display: block;
}

.scroll_button:hover{
    filter: drop-shadow(0 0 var(--big_blur_amount) #515151);
}
.scroll_button img{
    
    margin-top: 0.1em;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@keyframes scroll_down {
    0%{
        transform: translateY(100%);
    }
    10%{
        transform: translateY(0);
    }
    90%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(100%);
    }
}

/* scroll down thing end  */


/* full screen mode end */

@media screen and (max-width:1150px) {
    .game_parent{
        flex-direction: column;
    }
    .game_parent > *{
        width: 100%;
    }
}
@media screen and (max-width:1150px) and (min-width:750px) {
    .side_div{
        /* height: 200px; */
        flex-direction: row;
    }
    .side_ele_div.big{
        flex: 70%;
        height: auto;
    }
    .side_ele_div.small{
        flex: 30%;
        height:auto;
    }
}
@media screen and (max-width:750px) {
    .side_div{
        flex-direction: column;
    }
    .side_div > *{
        width: 100%;
    }
}
